<div class="error">
    <div class="contaier">
        <div class="eror__inner">
            <h1 class="error__title">Пользователь с такой почтой уже существует</br></h1>
        </div>
        <div class="eror__inner">

            <a class="error-btn" href="/admins__add">Продолжить</a>
        </div>
    </div>
</div>